@charset "UTF-8";
.electro-dark {
  --e-global-color-text: #fff !important;
  --e-global-color-secondary: #fff !important;
  --e-global-color-accent: #2F3336 !important;
}
.electro-dark .card-bg {
  background-color: #1c1c1c !important;
}
.electro-dark .divider .mas-product::after {
  border-right: 1px solid #2f3336;
}
.electro-dark .bg-gray {
  background-color: #000;
}
.electro-dark .product-bg {
  background-color: #1e1e1e !important;
}
.electro-dark .mas-product .product-actions {
  border-color: #2f3336;
}
.electro-dark .notification-border {
  border-color: #2f3336 !important;
}
.electro-dark .notify-btn svg path:not(:first-child) {
  fill: #fff;
}

.elementor-widget-mas-woocommerce-products .elementor-widget-image-carousel .elementor-swiper-button {
  padding: 14px 11px 14px 16px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
}
@media (min-width: 768px) {
  .elementor-widget-mas-woocommerce-products .elementor-widget-image-carousel .elementor-swiper-button.elementor-swiper-button-prev {
    margin-left: 20px;
  }
  .elementor-widget-mas-woocommerce-products .elementor-widget-image-carousel .elementor-swiper-button.elementor-swiper-button-next {
    margin-right: 20px;
  }
}

.remove-position .mas-product:hover > div {
  position: relative;
}

.block-stretch :where(.swiper, .swiper-slide-inner, .swiper-slide-image) {
  height: 100% !important;
  object-fit: cover;
}

.stretched-link,
.stretched-link a {
  display: block;
}

.relative {
  position: relative;
}

.static,
.stretched-link.static {
  position: static;
}

.stretched-link a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  content: "";
}

.mas-elementor-nav-tab.nav-tabs .nav-link.active {
  background-color: transparent;
}

.home14-icon .elementor-icon-box-title:hover {
  text-decoration: underline;
}

.hero-position .stretched-link a {
  display: inline-block;
}

.hero-position .stretched-link, .banner-position .stretched-link {
  position: static;
}

.footer-newsletter .wpforms-submit-container {
  margin-top: 0;
}

.zoom-content {
  position: relative;
}

.zoom-content * {
  position: static;
}

.zoom-content a::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 999;
  cursor: pointer;
}

.mas-products > .mas-product .added_to_cart::before {
  content: “\f30b”;
  float: right;
  text-indent: 0;
  font-family: ‘Inter’;
  font-weight: 900;
}

.elementor-widget-image.logo a img[src$=".svg"] {
  width: auto;
}

.mas-product .product-actions {
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 7px;
  align-items: center;
}
.mas-product:hover .mas-add-to-cart a {
  background-color: #FED700 !important;
}
.mas-product:hover > div {
  position: absolute;
  height: auto;
}
.mas-product:hover > .elementor > .elementor-element {
  background-color: #fff;
}
.mas-product .add-to-compare-link {
  font-size: 12px;
}
.mas-product .added_to_cart,
.mas-product .add_to_cart_button {
  width: 34px;
  height: 34px;
}
.mas-product .added_to_cart {
  float: right;
  background-color: transparent;
  text-indent: -99999px;
  padding: 4px 10px !important;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mas-product .added_to_cart:after {
  float: right;
  text-indent: 0;
  margin-left: 0;
  font-size: 16px;
}
.mas-product:not(:hover) .product-actions {
  display: none;
}
.mas-product .product-cat .mas-elementor-multipurpose-text__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mas-product .product-title .mas-elementor-multipurpose-text__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 36px;
}
.mas-product .product-img img {
  aspect-ratio: 1/1;
  object-fit: contain;
}
.mas-product .product-price {
  height: 34px;
}

.swiper-overflow .woocommerce > .swiper {
  overflow: visible !important;
}

body.electro-dark .mas-product > .elementor > .elementor-element {
  background-color: #181818 !important;
}

body.electro-dark .elementor-button.add-to-compare-link:hover {
  color: #fff;
}

.woocommerce > .swiper > .swiper-wrapper {
  z-index: 11;
}

.mas-swiper-arrows .swiper-button-next, .mas-swiper-arrows .swiper-button-prev {
  z-index: 12;
}

.product-actions .elementor-widget-yith_wcwl_add_to_wishlist {
  font-size: 12px;
}

.product-actions .elementor-widget-yith_wcwl_add_to_wishlist,
.product-actions .elementor-widget-mas-add-to-compare {
  max-width: max-content !important;
}

.product-actions .elementor-widget-mas-add-to-compare .elementor-button {
  padding: 0;
  display: flex;
  background-color: transparent !important;
  box-shadow: none !important;
}

.product-actions a:not(:hover) {
  color: #8598a9;
}

.elementor-icon-list-item a:hover, .elementor-icon-list-item a:focus,
.elementor-accordion .sub-categories a:hover,
.elementor-accordion .sub-categories a:focus {
  text-decoration: underline;
}

/*Form*/
.home-v14-newsletter .wpforms-form,
.home-v15-newsletter .wpforms-form {
  position: relative !important;
}
.home-v14-newsletter .wpforms-field-container .wpforms-field,
.home-v15-newsletter .wpforms-field-container .wpforms-field {
  padding: 0px !important;
}
.home-v14-newsletter .wpforms-container-full label,
.home-v15-newsletter .wpforms-container-full label {
  display: none;
}
.home-v14-newsletter .wpforms-container input.wpforms-field-medium,
.home-v15-newsletter .wpforms-container input.wpforms-field-medium {
  max-width: 100% !important;
}
.home-v14-newsletter .wpforms-container-full input[type=email],
.home-v15-newsletter .wpforms-container-full input[type=email] {
  font-size: 15px !important;
  line-height: 30px !important;
  color: #a0a0a0 !important;
  font-weight: 400 !important;
  font-family: "Inter" !important;
  border: 1px solid #c6c6c6 !important;
}
.home-v14-newsletter div.wpforms-container-full .wpforms-form input[type=email],
.home-v15-newsletter div.wpforms-container-full .wpforms-form input[type=email] {
  height: 50px !important;
  background-color: #FFFFFF !important;
}
.home-v14-newsletter .wpforms-submit-container .wpforms-submit,
.home-v15-newsletter .wpforms-submit-container .wpforms-submit {
  font-size: 13px;
  padding: 0 !important;
  width: 118px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Inter";
  box-shadow: none;
}

.mas-product .electro-price {
  position: relative;
  line-height: 1.4;
}
.mas-product .electro-price del {
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 16px;
}

div.wpforms-container-full.ec-newsletter-form {
  margin-top: 0;
}

.home-v14-newsletter .wpforms-container-full {
  margin: 20px auto;
}

.home-v15-newsletter .wpforms-container-full {
  margin: 0;
}

.home-v16-newsletter {
  margin: 22px 0 21px !important;
}
.home-v16-newsletter .wpforms-field {
  padding: 0 !important;
}
.home-v16-newsletter > .wpforms-form {
  display: grid;
}
@media (min-width: 768px) {
  .home-v16-newsletter > .wpforms-form > .wpforms-field-container,
  .home-v16-newsletter > .wpforms-form > .wpforms-submit-container {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  .home-v16-newsletter > .wpforms-form > .wpforms-submit-container {
    margin: 6px 6px 0 auto !important;
  }
}
.home-v16-newsletter > .wpforms-form > .wpforms-submit-container button[type=submit] {
  height: 40px;
  font-size: 13px;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 118px;
}
.home-v16-newsletter .wpforms-form input[type=email] {
  border-radius: 100px !important;
  padding-left: 26px !important;
}
.home-v16-newsletter .wpforms-form input[type=email], .home-v16-newsletter .wpforms-form input[type=email]:focus:invalid {
  height: 52px !important;
}
.home-v16-newsletter .wpforms-form input[type=email]::placeholder {
  font-size: 15px;
}
@media (min-width: 768px) {
  .home-v16-newsletter .wpforms-form input[type=email] {
    padding-right: 130px !important;
  }
}
@media (min-width: 1500px) {
  .home-v16-newsletter .wpforms-form input[type=email] {
    padding-left: 46px !important;
  }
}

body.electro-dark .home-v16-newsletter .wpforms-form input[type=email]:focus {
  border-color: transparent !important;
}
body.electro-dark .home-v16-newsletter .wpforms-form input[type=email]::placeholder {
  color: #fff;
}

body:not(.electro-dark) .newsletter-v16 div.wpforms-container-full .wpforms-form input[type=email] {
  background-color: #fff;
}
body:not(.electro-dark) .newsletter-v16 div.wpforms-container-full .wpforms-form input[type=email]:not(:focus) {
  border-color: #c6c6c6;
}

@media (min-width: 1024px) {
  .home-v14-newsletter .wpforms-submit-container,
  .home-v15-newsletter .wpforms-submit-container {
    text-align: center;
    position: absolute !important;
    right: 4px !important;
    top: -6px !important;
  }
}
/*.home-v15-newsletter .wpforms-submit-container .wpforms-submit {
	line-height: 42px;
}*/
.bg-gray {
  background-color: #f7f7f7;
}

.woocommerce .elementor-716 .elementor-element.elementor-element-5e0e361 p.price,
.woocommerce .elementor-26 .elementor-element.elementor-element-065e1c9 p.price {
  margin-bottom: 0;
}

.divider .mas-product {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.divider .mas-product:nth-last-child(2), .divider .mas-product:last-child {
  border-bottom-width: 0;
}

@media (min-width: 768px) {
  .divider .mas-product {
    border-bottom-width: 0;
  }
}
.divider .mas-product::after {
  content: "";
  border-right: 1px solid #e9ecef;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 70%;
  transform: translateY(-50%);
}

@media (min-width: 1200px) {
  .divider .mas-product:after {
    height: 80%;
  }
  .divider .mas-product self:is(:hover, :focus):after {
    content: none;
  }
  .divider .mas-product self:is(:hover, :focus) .product-hover {
    display: flex;
    animation: fadeIn 0.2s;
    animation-fill-mode: forwards;
  }
}
@media (max-width: 767px) {
  .divider .mas-product:nth-child(even)::after {
    content: none;
  }
}
@media (min-width: 1200px) {
  .divider .mas-grid-1 .mas-product::after {
    content: none;
  }
  .divider .mas-grid-2 .mas-product:nth-child(2n)::after, .divider .mas-grid-2 .mas-product:last-child::after {
    content: none;
  }
  .divider .mas-grid-3 .mas-product:nth-child(3n)::after, .divider .mas-grid-3 .mas-product:last-child::after {
    content: none;
  }
  .divider .mas-grid-4 .mas-product:nth-child(4n)::after, .divider .mas-grid-4 .mas-product:last-child::after {
    content: none;
  }
  .divider .mas-grid-5 .mas-product:nth-child(5n)::after, .divider .mas-grid-5 .mas-product:last-child::after {
    content: none;
  }
  .divider .mas-grid-6 .mas-product:nth-child(6n)::after, .divider .mas-grid-6 .mas-product:last-child::after {
    content: none;
  }
}
.divider .swiper-slide-prev .mas-product:after,
.divider .swiper-slide-duplicate-prev .mas-product:after,
.divider .swiper-slide-duplicate-active .mas-product:after {
  content: none;
}

.wc-search.search input[type=search] {
  border-color: #fff !important;
}

.header-menu .dropdown-menu {
  min-width: 12.5rem !important;
}

.electro-dark .header-v14 .dropdown-menu, .electro-dark .header-v14 .dropdown-menu li {
  background-color: #000 !important;
}

.electro-dark .dark-logo-img {
  display: block;
}

.dark-logo-img {
  display: none;
}

.electro-dark .light-logo-img {
  display: none;
}

.mas-nav-link.active::before {
  background-color: var(--e-global-color-primary);
  content: " ";
  height: 4px;
  width: 10px;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  border-radius: 0 0 10px 10px;
  transform: translateX(-50%);
}

.mas-nav-link.active::after {
  content: " ";
  background-color: var(--e-global-color-primary);
  border-bottom: 2px solid transparent;
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  z-index: 1;
  right: 0;
}

.position-relative {
  position: relative;
}

.button-w-h button {
  width: 46px !important;
  height: 46px !important;
}

body:not(.electro-dark) .cat-dropdown .cat-image i {
  filter: invert(52%) sepia(3%) saturate(7%) hue-rotate(330deg) brightness(102%) contrast(88%);
}

.cat-dropdown .mas-elementor-accordion-item .elementor-tab-content {
  margin-top: 10px;
  box-shadow: 0px 5px 12px 6px rgba(0, 0, 0, 0.1);
}

.mas-product:hover > div {
  width: 100%;
}

.elementor-widget-image-carousel .swiper-slide {
  width: 100% !important;
  box-sizing: border-box;
}

.feature-grid .grid .e-con-inner {
  display: grid;
}

.feature-grid .grid-span-full {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.elementor-widget-mas-woocommerce-products .elementor-widget-image-carousel .elementor-swiper-button {
  padding: 14px;
  background-color: white;
  border-radius: 50%;
  opacity: 1;
}

.elementor-widget-mas-woocommerce-products .elementor-widget-image-carousel .swiper-pagination {
  bottom: 26px !important;
}

.mas-product-gallery-nav-hover .mas-product:not(:hover) .elementor-widget-image-carousel .elementor-swiper-button,
.mas-product-gallery-nav-hover .mas-product:not(:hover) .elementor-widget-image-carousel .swiper-pagination {
  display: none;
}

.electro-dark .bg-dark-change {
  background-color: #000 !important;
}

.mas-product:hover .bg-dark-change {
  background-color: transparent !important;
}

.add-to-cart-hover .mas-product:hover .mas-add-to-cart a {
  border-color: var(--e-global-color-primary) !important;
}

.electro-dark .grey-100, .electro-dark .grey-100 .electro-price, .electro-dark .grey-100 .electro-price ins {
  color: #fff !important;
}

.electro-dark .grey-100 .electro-price del {
  color: #878787 !important;
}

.electro-dark .grey-200, .electro-dark .grey-200 .elementor-heading-title {
  color: #bebaba !important;
}

body.electro-dark .bg-dark-hero .mas-product > .elementor > .elementor-element {
  background-color: #1d1d1d !important;
}

.text-limit-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 768px) {
  .text-limit-clamp {
    -webkit-line-clamp: 2;
  }
}

.mas-product .added_to_cart::after {
  font-size: 14px;
}

footer div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  margin-top: 0;
}

footer div.wpforms-container-full:not(.home-v16-newsletter) button[type=submit]:not(:hover):not(:active) {
  background-color: #333e48;
}

.accessories .products li.product::before {
  display: flex;
  align-items: center;
  justify-content: center;
}