// Header v14
.electro-dark {
    .header-v14 {
        .ec-icon-box {
            .elementor-icon-box-title,
            .elementor-icon,
            .elementor-icon-box-description {
                color: var(--bs-ec-dark-body) !important;
            }

            .elementor-icon * {
                fill: var(--bs-ec-dark-body) !important;
            }
        }

        .ec-cart {
            .elementor-icon-box-title {
                color: var(--bs-ec-dark-body) !important;
            }
        }

        .ec-icon {
            svg {
                fill: var(--bs-ec-dark-body) !important;
            }

            .elementor-icon-wrapper {
                display: flex;
            }
        }

        .mas-elementor-nav-menu {
            .sub-menu {
                &,li {
                    background-color: #212121 !important;
                }
    
                li a:hover {
                    background-color: var(--bs-ec-dark) !important;
                }
                
                &,a {
                    color: #d9d9d9 !important;
                }
            }
        }
    }   
}

.cat-nav {
    position: relative;
    width: auto !important;
    min-width: max-content !important;

    > .e-con-inner {
        margin: 0;
    }

    .elementor-widget {
        position: static;
    }

    .mas-hamburger-menu .dropdown-menu {
        position: absolute !important;
    }

    .handheld {
        >.mas-elementor-nav-menu--dropdown {
            background-color:#fff;
        }

        

        .yamm-fw,
        .yamm-hw,
        .yamm-tfw {
            > .dropdown-menu {
                min-height: 400px;
                padding-bottom: 0 !important;

                > li {
                    > .elementor {
                        width: 100%;
                    }
                }

                a {
                    padding: 0 !important;
                }
            }

            .bg-yamm {
                bottom: 0;
                top: auto;
                z-index: -1;
                margin: 0 -2.143em;
            }

            .yamm-content {
                min-height: 400px;
            }
        }
    }

    .mas-elementor-menu-toggle {
        padding: 0;
        position: static;

        .navbar-toggler-icon {
            display: none;
        }

        .navbar-toggler {
            padding: 7px;
            width: 34px;
            height: 34px;
            border-radius: 50px;
            margin: 4px;

            &::before {
                position: absolute;
                inset: 0;
                content: "";
            }
        }

        .handheld {
            position: absolute;
            top: 100%;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.28);
            z-index:9;
            margin-top:10px;

            &.collapsing {
                height: auto !important;
            }
        }
    }
}

.header-v14 {
    .primary-nav {
        .mas-elementor-nav-menu  {
            >.menu-item {
                > a {
                    font-weight: 600;
                }

                > .dropdown-menu {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }

        .yamm-fw .dropdown-menu {
            @media (min-width: 1200px) {
                width: calc(1200px - 240px);
            }

            @media (min-width: 1350px) {
                width: calc(1200px - 200px);
            }

            @media (min-width: 1480px) {
                width: calc(1200px - 0px);
            }
        }
    }

    .header-icon__cart {
        .ec-shopping-bag {
            width: 42px;
            height: 42px;
            align-items: center;
            display: inline-flex;
            justify-content: center;
            background-color: var(--e-global-color-primary);
            border-radius: 50%;
            margin-right: 10px;
            font-size: 23px;
        }

        .cart-items-count  {
            background-color:#fff;
            border:1px solid var(--e-global-color-primary);
            color:#333E48;
            width: 20px;
            height: 20px;
            top: -3px;
            left: 27px;
            font-weight: 500;
            font-size: 11px;
        }

        .ec-shopping-bag {
            color:#333E48;

            &::before {
                margin-top:2px;
            }
        }
    }

    .top-bar p,
    .top-bar .elementor-widget-container {
        margin-bottom:-3px;
        margin-left: 2px;
    }

    .top-bar p strong {
        font-weight:800;
    }

    .brand.elementor-widget-image a img {
        margin-top: 1px;
        margin-left: 1px;
    }

    .switch-nav {
        .dropdown-menu .dropdown-toggle {
            font-weight:500 !important;
    
            &::after {
                display:none;
            }
        }
    }

    .wc-search .search-field {
        height:46px;
    }

    .main-header.e-con>.e-con-inner {
        padding-bottom:6px;
    }

    .header-icon__cart {
        .cart-items-total-price {
            font-size: 15px;
            font-weight: 600;
            position: relative;
            top: 2px;
        }
    
        .woocommerce-Price-currencySymbol {
            vertical-align: top;
            font-size: xx-small;
            margin-right: 6px;
            top: -3px;
            position: relative;
            right: -1px;
        }
    
        .dropdown-menu-mini-cart {
            right:0 !important;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1570px) {
	.header-v14 .elementor-hidden-laptop.primary-nav, .header-v14 .ec-icon {
		display:block;
	}
}

.elementor-widget-mas-header-cart .header-icon__cart {
	margin-left:0;
}

@media (min-width: 1200px) and (max-width: 1499px) {
	body:not(.elementor-editor-active) .switch-nav {
		display:none;
	}
}

.cat-nav .mas-elementor-menu-toggle .navbar-toggler {
	height: 33.5px;
    margin: 3.5px 4px;
}

.top-bar-nav-left {
    .elementor-icon-list-text {
        position: relative;
        bottom: -1px;
    }

    .elementor-icon-list-item:last-child .elementor-icon-list-icon svg {
        width: 18px;
        height: 18px;
        position: relative;
        bottom: -0.9px;
    }

    .elementor-icon-list-item:last-child .elementor-icon-list-text {
        padding-left:0 !important;
    }
}

.ec-icon-box {
    .elementor-icon-box-description {
        margin-top: 1px;
        margin-left: -1px;
    }

    &.ship {
        .elementor-icon-box-description {
            position: relative;
            left: 1px;
        }

        .elementor-icon svg {
            left: 4px;
            top: -1px;
        }
    }

    &.support .elementor-icon svg {
        top: -2px;
    }
}

.switch-nav .header-menu .menu-item-has-children > a:after,
.primary-nav .header-menu .menu-item-has-children>a:after{
    content: "\f107";
    border-width: 0;
    font-family: 'Font Awesome 5 Free';
    margin-left: 7px;
    line-height: 27px;
    position: relative;
    top: 1px;
}

.primary-nav {
    .mas-elementor-nav-menu {
        > .menu-item-has-children {
            >.dropdown-toggle.show,
            &:hover > a[data-hover="dropdown"] {
                position: relative;

                &::before {
                    content: "\f0d8";
                    position: absolute;
                    display: block;
                    left: 45%;
                    bottom: 0;
                    font-size: 14px;
                    @include fa-icon();
                    @include fa-fas;
                    line-height: .49;
                    color: var(--bs-ec-primary);
                }
            }
        }
    }
}

.wc-search {
    .woocommerce-product-search button {
        margin:5px 6px 5px auto;
    }

    .woocommerce-product-search button::after {
	    margin-top: 1px;
        display: inline-block;
    }
}

.brand.elementor-widget-image a img[src$=".svg"] {
	width:auto;
}